.container {
  iframe{
    padding: 0 1.25rem;
  }
} 

.post { 
  display: flex;
  flex-direction: column;
  align-items: center;


  img{
    max-width: 2000px;
    width: 100%;
    max-height: 400px;
    height: 100%;
  }
}

.content {
  display: flex;
  flex-direction: column; 
  max-width: 721px;
  width: 100%;
  padding: 0 1.25rem;
  border-bottom: 1px solid rgba(255, 255, 255, 0.2);

  > h1 {
    font-size: 3rem;
    color: var(--title);
    line-height: 3.625rem;
    margin-top: 5rem;
  }

  div.postInfo {
    span {
      font-size: 0.875rem;
      display: flex;
      color: var(--info);
      line-height: 1.36rem;

       & + span {
        margin-left: 1.875rem;
      }

      svg {
        height: 1.25rem;
        width: 1.25rem;
        margin-right: 0.5rem;
      }
    
    }

    div {
      margin-top: 1.562rem;
      display: flex;
      margin-bottom: 1.125rem;
    }
    
  }

  article {
    margin-top: 4.125rem;

    h2 {
      font-size: 1.875rem;
      margin-bottom: 2rem;
      color: var(--title);
    }
    &:last-child {
      margin-bottom: 5rem;
    }
  }
}
